    $baseline-unit: 10px;

	// Colors
    $primary:  #30140f;     //brand color
    $secondary: #ef7059;    //hover
    $basetext: #44474e;     //paragraph, text
    $baseheading: #27292f;      //heading and titles
    $bgcolor: #f2f2f2;      // sitebackground
    $bgsecondary: #ffffff;  // card, archive etc.

    // Font Family
    $fontbase: Inter, Roboto, sans-serif;
    $text-line-height: 2rem;


    //Font size
    $h1: 3.5rem;
    $h2: 3rem;
    $h3: 2.2rem;
    $h4: 1.8rem;
    $p: 1.6rem;


   